.bg,
.chroma,
.chroma code {
  color: #f5a97f;
  background-color: #24273a;
}
.chroma .gp,
.chroma .gs,
.chroma .kp {
  font-weight: 700;
}
button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
button,
select {
  text-transform: none;
}
.chroma code,
details,
dialog,
main {
  display: block;
}
.chroma .cp,
.chroma .cpf,
.chroma .ge,
.chroma .kc,
.chroma .nb,
.post-content blockquote {
  font-style: italic;
}
.post-content img,
legend {
  max-width: 100%;
}
.chroma code {
  overflow-x: auto;
  padding: 10px;
  border-radius: 5px;
}
.chroma .err {
  color: #ed8796;
}
.chroma .lnlinks {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #ffc;
}
.chroma .ln,
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: #7a543f;
}
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .nt {
  color: #c6a0f6;
}
.chroma .line {
  display: flex;
}
.chroma .kt,
.chroma .na,
.chroma .nc,
.chroma .nl,
.chroma .nn,
.chroma .no {
  color: #eed49f;
}
.chroma .bp,
.chroma .fm,
.chroma .n,
.chroma .py,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #b7bdf8;
}
.chroma .nd,
.chroma .ni {
  color: #f5bde6;
}
.chroma .gd,
.chroma .gr,
.chroma .gt,
.chroma .ne {
  color: #ee99a0;
}
.chroma .nf,
.chroma .o {
  color: #91d7e3;
}
.chroma .dl,
.chroma .gi,
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sd,
.chroma .sh,
.chroma .si,
.chroma .ss,
.chroma .sx {
  color: #a6da95;
}
.chroma .se,
.chroma .sr {
  color: #8aadf4;
}
.chroma .gh,
.chroma .gu,
.chroma .ow {
  color: #91d7e3;
  font-weight: 700;
}
.chroma .p {
  color: #cad3f5;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .cs {
  color: #5b6078;
  font-style: italic;
}
.chroma .cp,
.chroma .cpf {
  color: #8aadf4;
}
.chroma .gp {
  color: #6e738d;
}
.chroma .w {
  color: #363a4f;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}
body,
button,
dl dl,
dl ol,
dl ul,
input,
ol dl,
ol ol,
ol ul,
select,
ul dl,
ul ol,
ul ul {
  margin: 0;
}
hr {
  height: 0;
}
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
.slider:before,
dialog {
  background-color: #fff;
}
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
iframe,
img {
  border-style: none;
}
svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}
legend {
  color: inherit;
  display: table;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: ButtonText dotted 1px;
}
:-moz-ui-invalid {
  box-shadow: none;
}
dialog {
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
[hidden],
dialog:not([open]),
template {
  display: none;
}
summary {
  display: list-item;
}
[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
[aria-hidden="false"][hidden] {
  display: initial;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
:root {
  --container-background-color: #fff;
  --header-title-background-color: #8925e7;
  --header-title-text-color: #fff;
  --footer-text-color: #9b9b9b;
  --post-text-color: #4a4a4a;
  --post-meta-text-color: #9b9b9b;
  --headline-base-color: #a253ec;
  --headline-seconday-color: #ff3e81;
  --headline-tertiary-color: #bd10e0;
  --code-background-color: #24273a;
  --code-text-color: #f5a97f;
  --blockquote-border-color: #8925e7;
}
[data-theme="dark"] {
  --container-background-color: #171717;
  --post-text-color: #fff;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(/fonts/roboto-v18-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url(/fonts/roboto-v18-latin-italic.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(/fonts/roboto-v18-latin-700.woff2) format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url(/fonts/roboto-v18-latin-700italic.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url(/fonts/roboto-condensed-v16-latin-700.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold Italic"),
    local("RobotoCondensed-BoldItalic"),
    url(/fonts/roboto-condensed-v16-latin-700italic.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url(/fonts/roboto-mono-v5-latin-regular.woff2) format("woff2");
}
html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--post-text-color);
  background: var(--container-background-color);
}
.header-title,
.post-content--language,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-base-color);
  font-weight: 700;
  margin: 1em 0;
  padding: 0 10px;
}
h1 {
  font-size: 36px;
  color: var(--headline-seconday-color);
}
h2 {
  font-size: 28px;
  color: var(--headline-tertiary-color);
}
h3 {
  font-size: 24px;
}
h4,
h5,
h6 {
  font-size: 20px;
}
.header-title {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  font-weight: 500;
  background: var(--header-title-background-color);
  color: var(--header-title-text-color);
}
.header-link {
  color: inherit;
  text-decoration: none;
}
.theme-toggle {
  display: flex;
  margin-top: 1em;
  margin-right: 10px;
  justify-content: flex-end;
}
.theme-toggle__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.theme-toggle__desc {
  margin-right: 0.5em;
  line-height: 1em;
}
.footer {
  color: var(--footer-text-color);
  margin: 0 10px;
  padding: 0.5ex 0 1em;
}
.footer-menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.footer-item {
  flex-direction: column;
  list-style-type: none;
  margin: 1ex 0;
  width: 100%;
}
.footer-link {
  color: inherit;
  text-decoration: underline;
}
.container {
  width: auto;
}
.container--main {
  padding-top: 2em;
  background: var(--container-background-color);
  display: flex;
  flex-direction: column;
}
.post {
  margin-bottom: 5em;
}
.post:last-of-type {
  margin-bottom: 2em;
}
.post-meta {
  color: var(--post-meta-text-color);
  letter-spacing: 0.1em;
  font-size: 16px;
  margin: 0 0 1em;
  padding: 0.2em 10px;
}
.post-date,
.post-link--meta {
  color: inherit;
}
.post-language {
  position: relative;
  top: 2px;
  font-size: 17px;
}
.post-headline {
  margin: 0 0 0.75em;
  line-height: 1em;
}
.post-link--headline {
  color: inherit;
  text-decoration: none;
}
.pagination__link,
.post-content a {
  color: var(--post-text-color);
  text-decoration: none;
}
.post-content {
  font-size: 18px;
  line-height: 1.8em;
}
.post-content p {
  margin-bottom: 1em;
  padding: 0 10px;
}
.post-content a {
  border-bottom: 2px solid var(--post-text-color);
}
.post-content li {
  margin: 0.3em 0;
}
.post-content blockquote {
  border-left: 4px solid var(--blockquote-border-color);
  margin: 1.5em 0 0 1.5em;
  padding: 0 1.5em;
}
.post-content pre {
  margin: 1em 10px;
}
.post-content .chroma code {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  padding: 32px;
  border-radius: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.5em;
}
.post-content p code,
.post-content ul code,
.post-content ol code {
  border-radius: 5px;
  padding: 0.2em 0.3em;
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}
.post-content table {
  width: 100%;
  margin: 0 10px;
}
.post-content th {
  text-align: left;
  color: var(--headline-tertiary-color);
}
.post-content td,
.post-content th {
  padding: 5px;
}
.post-content--language {
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
}
.pagination {
  display: flex;
  margin: 0 10px;
}
.pagination__item {
  flex-direction: row;
  width: 50%;
}
.pagination__item-position-prev {
  text-align: left;
}
.pagination__item-position-next {
  text-align: right;
}
.pagination__link:hover {
  color: var(--headline-seconday-color);
}
@media screen and (min-width: 640px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    padding-top: 1em;
  }
  .theme-toggle {
    margin-right: 0;
  }
  .footer,
  .pagination,
  .post-content code,
  .post-content table {
    margin: 0;
  }
  .container {
    width: 600px;
    margin: 0 auto;
  }
  .post-meta {
    padding: 0.2em 0;
  }
  .post-content pre {
    margin: 1em 0;
  }
  .post-content th {
    border-bottom: 1px solid var(--post-text-color);
  }
  .post-content p {
    padding: 0;
  }
  .post-content .chroma code {
    border-radius: 5px;
    margin-left: -32px;
    margin-right: -32px;
  }
}
.toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.slider,
.slider:before {
  position: absolute;
  transition: 0.4s;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--footer-text-color);
}
.slider:before {
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
}
input:checked + .slider {
  background-color: var(--headline-tertiary-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--headline-tertiary-color);
}
input:checked + .slider:before {
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
