{{ define "main" }}
<article class="post">
    <h1 class="visually-hidden">Page not found</h1>
    <div class="terminal-error">
        <p><span class="header-prompt--path" aria-hidden="true">~</span> <span class="header-prompt--chevron" aria-hidden="true">❯</span> open ./page</p>
        <p class="terminal-error-output"><span class="terminal-error-name">open:</span> ./page: No such file or directory</p>
        <p class="terminal-error-exit">exit status 404</p>
    </div>
    <p>Maybe search can find it:</p>
    {{ partial "search-form.html" . }}
</article>
{{ end }}
