<footer class="footer">
  <div class="container">
    <ul class="footer-menu">
      <li class="footer-item">
        <a class="footer-link" href="https://bsky.app/profile/webcodr.bsky.social">Bluesky</a>
      </li>
      {{ with (.Site.Home.OutputFormats.Get "RSS") }}
        <li class="footer-item">
          <a href="{{ .RelPermalink }}" class="footer-link">RSS</a>
        </li>
      {{ end }}
      <li class="footer-item">
        <a href="/about" class="footer-link">About</a>
      </li>
    </ul>
    <p class="footer-copyright">© 2012–{{ now.Year }} David Henning</p>
  </div>
</footer>
