{{ $css := resources.Get "css/webcodr.css" | resources.Fingerprint "sha512"}}
{{ $js := resources.Get "js/webcodr.js" | resources.Fingerprint "sha512"}}

<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="screen" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=5"
  />
  <meta
    name="description"
    content="
    Webcodr is a blog that covers a wide range of programming topics,
    including the Kotlin and Rust programming languages and ways to improve 
    developer productivity."
  />
  <meta
    name="keywords"
    content="Kotlin, Rust, Developer Productivity, Mechanical Keyboards"
  />
  <meta charset="UTF-8" />
  {{ with (.Site.Home.OutputFormats.Get "RSS") }}
    <link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}" />
  {{ end }}
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-700italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-condensed-v16-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-condensed-v16-latin-700italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

  {{ $permalink := .Permalink }}

  {{ if .IsHome }}
    {{ $paginator := .Paginate .Site.RegularPages }}
    {{ if ne $paginator.PageNumber 1 }}
      {{ $permalink = print $permalink "page/" $paginator.PageNumber "/" }}
    {{ end }}
  {{ end }}

  <link rel="canonical" href="https://webcodr.io{{ $permalink }}">
</head>
