<div class="container">
    <header class="header">
        <p class="header-title"><a href="/" class="header-link">webcodr</a></p>
        <div class="theme-toggle">
            <div class="theme-toggle__wrapper" id="theme-toggle">
                <label class="theme-toggle__desc" for="toggle-checkbox">Dark Mode</label>
                <div class="toggle">
                    <input type="checkbox" id="toggle-checkbox"><span class="slider"></span>
                </div>
            </div>
        </div>
    </header>
</div>
