<a href="#main" class="skip-link">Skip to content</a>
<div class="container">
    <header class="header">
        <p class="header-title"><a href="/" class="header-link"><span class="header-prompt--path" aria-hidden="true">~</span> <span class="header-prompt--chevron" aria-hidden="true">❯</span> webcodr</a></p>
        <nav class="header-navigation" aria-label="Primary navigation">
            <a href="/topics/" class="header-navigation-link">Topics</a>
            <a href="/archive/" class="header-navigation-link">Archive</a>
            <a href="/search/" class="header-navigation-link">Search</a>
        </nav>
    </header>
</div>
