<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/webcodr.css" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=5"
  />
  <meta
    name="description"
    content="
    Webcodr is a blog that covers a wide range of programming topics,
    including the Kotlin and Rust programming languages and ways to improve 
    developer productivity."
  />
  <meta
    name="keywords"
    content="Kotlin, Rust, Developer Productivity, Mechanical Keyboards"
  />
  <meta charset="UTF-8" />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-v18-latin-700italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-condensed-v16-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-condensed-v16-latin-700italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/roboto-mono-v5-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <script src="/js/webcodr.js"></script>
</head>
