<div class="container">
    <header class="header">
        <p class="header-title"><a href="/" class="header-link">webcodr</a></p>
        <div class="theme-toggle">
            <div class="theme-toggle__wrapper" id="theme-toggle"><span class="theme-toggle__desc">Dark Mode</span>
                <label class="toggle" for="toggle-checkbox">
                    <input type="checkbox" id="toggle-checkbox"><span class="slider"></span>
                </label>
            </div>
        </div>
    </header>
</div>
