{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination">
    <div class="pagination__item pagination__item-position-prev">
      {{ if (.Paginator.HasPrev) }}
        <a href="{{ .Paginator.Prev.URL }}" class="pagination__link">&larr; previous posts</a>
      {{ end }}
    </div>
    <div class="pagination__item pagination__item-position-next">
        {{ if (.Paginator.HasNext) }}
          <a href="{{ .Paginator.Next.URL }}" class="pagination__link">next posts &rarr;</a>
        {{ end }}
    </div>
  </div>
{{ end }}

