<article class="post">
    <h1 class="post-headline"><a href="{{ .context.Permalink }}" class="post-link--headline">{{ .context.Title }}</a>
    </h1>
    <div class="post-content">
        {{ .context.Content }}
    </div>
    {{ if and ( eq .context.Type "post" ) ( eq .location "single" ) }}
    <p class="post-meta">
        Last updated on <time datetime="{{ .context.Date.Format "2006-01-02T15:04:05Z07:00" }}"
            class="post-date">{{ .context.Date.Format "January 2, 2006" }}</time>
    </p>
    {{ end }}
</article>
