<p class="post-meta" data-pagefind-ignore>
  Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-date">{{ .Date.Format "January 2, 2006" }}</time>
  <span aria-hidden="true"> · </span>{{ .ReadingTime }} min read
  <span aria-hidden="true"> · </span>{{ partial "language-label.html" . }}
  {{ with .GetTerms "topics" }}
    <span aria-hidden="true"> · </span>
    <span class="post-topics">
      {{ range $index, $topic := . }}{{ if $index }}, {{ end }}<a href="{{ $topic.RelPermalink }}" class="post-topic-link">{{ $topic.LinkTitle | humanize | title }}</a>{{ end }}
    </span>
  {{ end }}
</p>
{{ with .Params.updated }}
  {{ $updated := . | time.AsTime }}
  {{ if ne ($.Date.Format "2006-01-02") ($updated.Format "2006-01-02") }}
    <p class="post-updated" data-pagefind-ignore>Updated <time datetime="{{ $updated.Format "2006-01-02T15:04:05Z07:00" }}">{{ $updated.Format "January 2, 2006" }}</time></p>
  {{ end }}
{{ end }}
