{{ if or .PrevInSection .NextInSection }}
  <nav class="post-navigation" aria-label="Article navigation" data-pagefind-ignore>
    {{ with .PrevInSection }}
      <div class="post-navigation-previous">
        <span class="post-navigation-label">
          {{ partial "arrow-icon.html" (dict "direction" "left" "class" "post-navigation-icon") }}
          Older
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
    {{ with .NextInSection }}
      <div class="post-navigation-next">
        <span class="post-navigation-label">
          Newer
          {{ partial "arrow-icon.html" (dict "direction" "right" "class" "post-navigation-icon") }}
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
  </nav>
{{ end }}
