{{ with .GetTerms "topics" }}
  {{ $related := $.Site.RegularPages.Related $ | first 3 }}
  {{ with $related }}
    <aside class="related-posts" aria-labelledby="related-posts-title" data-pagefind-ignore>
      <h2 id="related-posts-title" class="related-posts-title">Continue reading</h2>
      <ul class="post-index post-index--full-date">
        {{ range . }}
          {{ partial "post-index-entry.html" (dict "page" . "dateFormat" "Jan 02, 2006" "showDescription" false) }}
        {{ end }}
      </ul>
    </aside>
  {{ end }}
{{ end }}
